<?xml version="1.0" encoding="UTF-8"?>

<taglib xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.2</tlib-version>
    <short-name>cachetags</short-name>

    <tag>
        <name>cached</name>
        <tag-class>ru.teamidea.td.b2c.storefront.cache.tags.CacheTag</tag-class>
        <body-content>JSP</body-content>
        <attribute>
            <description>kz or kg region</description>
            <name>siteUid</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>current url</description>
            <name>url</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>is current session user is corporate</description>
            <name>isCorporate</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>is current session user is corporate</description>
            <name>currentLang</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <!-- Any other attributes specified are written onto the element -->
        <dynamic-attributes>true</dynamic-attributes>
    </tag>
</taglib>
